@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

html {
  background-color: #141414;
  color: white;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 6vh;
}

::selection {
  background-color: cyan;
  color: darkblue;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: cyan;
}

header {
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8vh;
}

.web_title {
  margin-right: 50vw;
}


.right_wrap {
  display: flex;
  justify-content: space-between;
}

.init_wrap {
  display: flex;
  justify-content: space-between;
}

.intro_txt {
  margin-right: 3vw;
}

.home_pg_img {
  height: 40vh;
  width: auto;
}

.des_text {
  margin-top: 10vh;
  margin-bottom: 5vh;
  font-weight: 600;
}

.des_descr {
  display: flex;
  justify-content: space-between;
}
.des_descr_1 {
  margin-right: 1vw;
}


.exc_text {
  margin-top: 10vh;
  margin-bottom: 5vh;
  font-weight: 600;
}

.exc_descr {
  display: flex;
  justify-content: space-between;
}
.exc_descr_1 {
  margin-right: 1vw;
}

.main_vid {
  margin-top: 5vh;
  width: 90vw;
  height: auto;
  margin-bottom: 3vh;
}

.web_link {
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
}
